*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

h1,
h2,
table,
label{
    color: #F0F0F0;
}

img{
    width: 50px;
}

section{
    width: 100%;
    min-height: 100vh;
    background-color: #242323;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

.buttons{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 25px;
    
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;;
}

.field{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form,
.form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.table{
    text-align: center;
    margin-top: 20px;
    max-width: 60vw;
}

.div{
    margin-top: 20px;
}

input{
    width: 300px;;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

select{
    overflow: hidden;
    width: 300px;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid white;
}

select:focus{
    background-color: #983235;
}

form Button{
    margin-top: 30px;
}
